/* You can add global styles to this file, and also import other style files */
body {
  margin: 0;
  padding: 0;
}


/* SIDENAV */
.ng-tns-c21-0.ng-trigger.ng-trigger-panelState.p-sidebar.p-sidebar-active.p-sidebar-left {
  padding: 0;
}
